Follow me:
<ul id="stalker">
  {% if site.theme.social.github %}
  <li><a title="{{ site.theme.social.github }} on Github" href="https://github.com/{{ site.theme.social.github }}">
    github.com/{{ site.theme.social.github }}
  </a></li>
  {% endif %}

  {% if site.theme.social.twitter %}
  <li><a title="{{ site.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.theme.social.twitter }}">
    twitter.com/{{ site.theme.social.twitter }}
  </a></li>
  {% endif %}

  {% if site.theme.social.linkedin %}
  <li><a title="{{ site.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.theme.social.linkedin }}">
    linkedin.com/in/{{ site.theme.social.linkedin }}
  </a></li>
  {% endif %}

  <li><a title="RSS feed" id="rss" href="/atom.xml">RSS feed</a></li>
</ul>
